

.game-card {
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 10px;
    padding: 7px;
    z-index: 1;
}

.game-card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: none;
    position: relative;
    z-index: 2;
}

.game-card:hover img {
    box-shadow: 0 0 0 2px #81a1c1, 0 10px 15px rgba(0, 0, 0, 0.3);

    z-index: 3;

}
.game-card::after {
    content: '';
    position: absolute;
    width: 215px;
    height: 120px;
    bottom: 7px;
    left: 7px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    height: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
    transition: opacity 0.3s ease;
    opacity: 0;
    z-index: 5;
}

.game-card:hover::after {
    opacity: 1;
}


.game-title {
    position: absolute;
    font-family: 'Lexend', sans-serif;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-size: 0.8rem;
    padding: 15px;
    z-index:6;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.game-card:hover .game-title {
    opacity: 1;
}

.info-button svg {
    visibility: hidden;
}

.game-card:hover .info-button svg {
    visibility: visible;
    position: absolute;

    width: 24px;
    height: 24px;
    fill: #0077FF;
    stroke: white;
    z-index: 4; /* Ensure the button is on top of everything */
}


.game-tag-group {
    display: flex;
    gap: 10px; /* Space between buttons */
}

.game-tag {
    background-color: #3b4252; /* Light gray */
    border: none;
    height:40px;
    padding: 7px 15px;
    border-radius: 7px;
    font-size: 15px;
    cursor: pointer;
    color: #edeff3;
}


.game-tag:hover {
    background-color: #434c5d; /* Slightly darker gray on hover */
}

.game-tag.active {
    background-color: #edeff3;
    color: #4c566a;
}
.navigation {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.game-tag-group-wrapper {
    margin-right:50px;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100vw;
    white-space: nowrap;
}

.game-tag-group {

    display: flex;
    gap: 10px;
    padding: 0 10px;
}

.game-tag {

    background-color: #3b4252;
    border: none;
    height: 40px;
    padding: 7px 15px;
    border-radius: 7px;
    font-size: 15px;
    cursor: pointer;
    color: #edeff3;
}

.game-tag:hover {
    background-color: #434c5d;
}

.game-tag.active {
    background-color: #edeff3;
    color: #4c566a;
}

.scroll-arrow {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

.scroll-arrow.left {
    left: 0;
}

.scroll-arrow.right {
    right: 0;
}

.scroll-arrow svg {
    width: 24px;
    height: 24px;
}




