
.centered-search {
  position: relative;

  margin: 0 auto; /* Center the container */

}


.search-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}


.centered-search img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the background image fits properly */
}



.search-section {
    width: 700px;
    margin: 50px auto;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #4C566A;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.search-bar input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    color: #D8DEE9;
    font-size: 16px;
}

.cmd-icon {
    background-color: #5e81ac;
    border-radius: 8px;
    padding: 5px 10px;
    margin-left: 10px;
    color: #D8DEE9;
    font-size: 14px;
}

.search-results {
    background-color: #4C566A;
    padding: 30px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    text-align: center;
    position: relative;
}

.search-input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #4C566A;
}

.search-input span {
    font-size: 24px;
    margin-right: 10px;
    color: #D8DEE9;
}

.search-input input {
    background: none;
    border: none;
    outline: none;
    color: #ECEFF4;
    font-size: 18px;
    width: 80%;
    text-align: center;
}

.no-tags {
    margin-top: 20px;
}

.no-tag-icon {
    font-size: 50px;
    color: #5E81AC;
    margin-bottom: 20px;
}

.no-tag-message h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.no-tag-message p {
    color: #D8DEE9;
}

.no-tag-message a {
    color: #88C0D0;
    text-decoration: none;
}

.no-tag-message button {
    background-color: #5E81AC;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ECEFF4;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.search-footer {
    display: flex;
    justify-content: space-around;
    background-color: #434c5e;
    padding: 15px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}

.search-footer-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #D8DEE9;
}

.search-footer-icon {
    font-size: 20px;
    margin-bottom: 5px;
    color: #88C0D0;
}



.search-icon {
    border: 1px solid #d1d5db;
    background-color: white;
    position: absolute;
    box-shadow: inset 0 -2px 0 0 #f9fafb, 0 1px 2px 0 #0a0d1229;
    color: #374151;
    text-align: center;
    white-space: nowrap;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    padding: .75rem;
    font-weight: 600;
    text-decoration: none;
    transition: background-color .3s;
    display: flex;
}