@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: rgb(19, 19, 19);
}

h1 {
    text-align: center;
    color: rgb(191, 191, 191);
    font-size: 80px;
    line-height: 1.2;
    font-weight: 300
}

h2 {
    text-align: center;
    color: rgb(191, 191, 191);
    font-size: 45px;
    line-height: 1.2;
    font-weight: 250
}

h3 {
    text-align: center;
    color: rgb(191, 191, 191);
    font-size: 24px;
    line-height: 1.4;
    font-weight: 200
}

h4 {
    text-align: center;
    color: rgb(191, 191, 191);
    font-size: 20px;
    line-height: 1.4;
    font-weight: 200
}

h6 {
    text-align: center;
    color: rgb(191, 191, 191);
    font-size: 10px;
    line-height: 1.4;
    font-weight: 300
}

footer{
    position:absolute;
    bottom:0px;
    text-align: center;
    color: rgb(191, 191, 191);
    font-size: 10px;
    line-height: 1.4;
    font-weight: 300
}

.rgb-button {
    width: 100px;
    height: 50px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.rgb-button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.rgb-button:active {
    color: #000;
    transition: color 0.2s ease-in-out;
}

.rgb-button:active:after {
    background: transparent;
    transition: background 0.2s ease-in-out;
}

.rgb-button:hover:before {
    opacity: 1;
}

.rgb-button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.back-button-container {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    }

.back-button-container .rgb-button {
    width: 60px;
    height: 60px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#gameSearch {
    background: none;
    font-family: inherit;
    padding: 0px 17px;
    height: 48px;
    border: 1px solid rgb(255, 255, 255, 0.2);
    color: var(--text-color);
    border-radius: 3px;
    outline: none;
    width: 350px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 50px;
    color: #fff;
    transition: border-radius 0.1s;
    display: inline-block;
    justify-content: center;
  }
  
  #gameSearch:focus {
    border: 1px solid rgba(253, 253, 253, 0.514);
    border-radius: 6px;
  }

  .gameSearch-form-center-thing-ahhhhhhhhhhh {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}





















.game-card {
    justify-content: center;
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 10px;
    padding: 7px;
    z-index: 1;
    text-align: center;
    opacity: 0;
    transform: scale(0.95); /* Slight shrink for visual effect */
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.game-card.show {
    opacity: 1;
    transform: scale(1);
}

.game-card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: none;
    position: relative;
    z-index: 2;
}

.game-card:hover img {
    box-shadow: 0 0 0 2px #81a1c1, 0 10px 15px rgba(0, 0, 0, 0.3);

    z-index: 3;

}
.game-card::after {
    content: '';
    position: absolute;
    width: 215px;
    height: 120px;
    bottom: 7px;
    left: 7px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    height: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
    transition: opacity 0.3s ease;
    opacity: 0;
    z-index: 5;
}

.game-card:hover::after {
    opacity: 1;
}


.game-title {
    position: absolute;
    font-family: 'Lexend', sans-serif;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-size: 0.8rem;
    padding: 15px;
    z-index:6;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.game-card:hover .game-title {
    opacity: 1;
}

.info-button svg {
    visibility: hidden;
}

.game-card:hover .info-button svg {
    visibility: visible;
    position: absolute;

    width: 24px;
    height: 24px;
    fill: #0077FF;
    stroke: white;
    z-index: 4; /* Ensure the button is on top of everything */
}


.game-tag-group {
    display: flex;
    gap: 10px; /* Space between buttons */
}

.game-tag {
    background-color: #3b4252; /* Light gray */
    border: none;
    height:40px;
    padding: 7px 15px;
    border-radius: 7px;
    font-size: 15px;
    cursor: pointer;
    color: #edeff3;
}


.game-tag:hover {
    background-color: #434c5d; /* Slightly darker gray on hover */
}

.game-tag.active {
    background-color: #edeff3;
    color: #4c566a;
}
.navigation {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.game-tag-group-wrapper {
    margin:auto;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100vw;
    white-space: nowrap;
    text-align: center;
    justify-content: center;
}

.game-tag-group {

    display: flex;
    gap: 10px;
    padding: 0 10px;
}

.game-tag {
    justify-content: center;
    background-color: #3b4252;
    border: none;
    height: 40px;
    padding: 7px 15px;
    border-radius: 7px;
    font-size: 15px;
    cursor: pointer;
    color: #edeff3;
}

.game-tag:hover {
    background-color: #434c5d;
}

.game-tag.active {
    background-color: #edeff3;
    color: #4c566a;
}

.scroll-arrow {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

.scroll-arrow.left {
    left: 0;
}

.scroll-arrow.right {
    right: 0;
}

.scroll-arrow svg {
    width: 24px;
    height: 24px;
}

.game-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;

}
.game-card img {
    width: 215px;

    height: 120px;
    border-radius: 10px;
}
/* Styling for the info button on the game image */
.info-button {
    position: absolute;
    top: 5px;
    left:185px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.game-search-form-center {
    margin: auto;
    width: 50%;
}
